body{
	background-image: url(wood.jpg);
	text-align: center;
	background-color: grey;
}
.titles{
	color: white;
}
.individual-pet{
	font-family: "comic sans MS";	
    font-size: 15px;
    height: 300px;
 	color: white;
}

.all-pets{
	color: white;
	text-align: center;
	font-family: "comic sans MS";
}
img{
	width:134px;
	height:134px;
}